:root {
  @font-face {
      font-family: 'Karrik';
      src: url('fonts/Karrik-Regular.woff2') format('woff2'),
           url('fonts/Karrik-Regular.woff') format('woff'),
           url('fonts/Karrik-Regular.ttf') format('truetype');
  }
  --golden-ratio: 1.618;
  --base-font-size: 16px;
  --base-line-height: 1.5;
  --base-spacing: 1rem;
  --font-size-small: calc(var(--base-font-size) / var(--golden-ratio));
  --font-size-large: calc(var(--base-font-size) * var(--golden-ratio));
  --spacing-small: calc(var(--base-spacing) / var(--golden-ratio));
  --spacing-large: calc(var(--base-spacing) * var(--golden-ratio));
  --primary-color: #B7B5E4;
  --secondary-color: #847979;
  --background-color: #0C0C0F;
  --accent1-color: #BBC2E2;
  --accent2-color: #CFCCD6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




 



/* OBJECT-PAGE */

#object-title {
  padding: var(--spacing-large) 0 var(--spacing-large) 0;
  margin: 0;
  text-align: center;
}

.nav_object_page {
  z-index: 10;
}

.object-page-body {
  margin: 0 var(--spacing-large) 0 var(--spacing-large);
}

/* Contenitore Principale */

.object-main-container {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Center content horizontally */
  justify-content: flex-start; /* Align content to the top */
  width: 100%; /* Full width */
  max-width: 1200px; /* Optional: limit maximum width for layout */
  margin: 0 auto; /* Center the container horizontally */
  padding: calc(var(--spacing-large) * var(--golden-ratio)); /* Add consistent padding */
  box-sizing: border-box; /* Include padding in width calculations */
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
  border-radius: var(--spacing-large);
  overflow: visible; /* Allow the container to grow with its content */
  height: auto; /* Ensure the height grows dynamically */
  position: relative;
}




/* Object Navigation */
.object-navigation {
  width: 100%;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  border-top-left-radius: var(--spacing-large);
  border-top-right-radius: var(--spacing-large);
  box-sizing: border-box;
  padding: var(--spacing-small);
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: var(--spacing-large);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
}

/* Circular Buttons */
.circular-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-size: var(--font-size-large);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
}

  .circular-button:hover {
      background-color: var(--accent1-color);
      transform: scale(1.1);
  }

  .circular-button:active {
      transform: scale(0.95);
      background-color: var(--accent2-color);
  }

/* Testo accanto ai Pulsanti */
.navigation-text {
  color: var(--background-color);
  margin-left: var(--spacing-small);
  text-transform: uppercase;
}

/* Flex Wrapper per Pulsanti e Testo */
.navigation-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

/* Contenitore Immagine + Testo */
.image-text-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items at the top */
  width: 100%; /* Take the full width of the parent */
  max-width: 1200px; /* Optional: limit the maximum width */
  padding: var(--spacing-large); /* Add spacing inside */
  box-sizing: border-box; /* Ensure padding is included in the width/height */
  background-color: var(--background-color);
  border-radius: var(--spacing-large);
  border: 2px solid var(--primary-color);
  height: auto;
  margin-top: calc(var(--spacing-large) * var(--golden-ratio)* var(--golden-ratio));
  margin-bottom: calc(var(--spacing-large) * var(--golden-ratio));
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: var(--spacing-large);
}

  .content-wrapper img {
      width: 50%;
      height: auto;
      border-radius: var(--spacing-small);
      flex: 1 1 300px;
  }

.text-area {
  color: var(--accent1-color);
  padding-top: var(--spacing-small);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  width: 50%;
  text-align: left;
}

  .text-area .button {
      align-self: flex-start;
      background-color: var(--primary-color);
      color: var(--background-color);
      padding: var(--spacing-small) var(--spacing-large);
      border: none;
      border-radius: var(--spacing-small);
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
  }

      .text-area .button:hover {
          background-color: var(--accent1-color);
          transform: scale(1.05);
      }

/* Sezione "More Info" */
.more-info {
  margin-top: var(--spacing-large);
}

  .more-info p {
      color: var(--secondary-color);
      margin-bottom: var(--spacing-small);
      text-align: left;
  }

.more-buttons {
  display: flex;
  gap: var(--spacing-small);
}

  .more-buttons .button {
      background-color: var(--primary-color);
      color: var(--background-color);
      padding: var(--spacing-small) var(--spacing-large);
      border: none;
      border-radius: var(--spacing-small);
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
  }

      .more-buttons .button:hover {
          background-color: var(--accent1-color);
          transform: scale(1.05);
      }

/* Object Tours */
.object-tours {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-large);
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-large);
  width: 100%;
}

  .object-tours .button {
      background-color: var(--primary-color);
      color: var(--background-color);
      border: none;
      border-radius: var(--spacing-small);
      padding: var(--spacing-small) var(--spacing-large);
      font-size: var(--font-size-large);
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
  }

      .object-tours .button:hover {
          background-color: var(--accent1-color);
          transform: scale(1.05);
      }

      .object-tours .button:active {
          background-color: var(--accent2-color);
          transform: scale(0.95);
      }

/* Map-Geolocalization Container */
.map-geolocation-container {
  width:100%;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: var(--spacing-large);
  background-color: var(--background-color);
  padding: var(--spacing-small);
  overflow: hidden;
  gap: var(--spacing-small);
  position: relative;
  border: 2px solid var(--primary-color);
}

/* Map Section */
.map-section {
  width: 50%;
  padding: var(--spacing-large);
  box-sizing: border-box;
  margin: 0;
  color: var(--primary-color);
  text-align: center;
}

.map-section img {
  width: 100%;
  height: auto;
}

/* Geolocalization Section */
.geolocalization-section {
  width: 50%;
  padding: var(--spacing-large);
  box-sizing: border-box;
  margin: 0;
  color: var(--primary-color);
  text-align: center;
}

.geolocalization-section img {
  width: 100%;
  height: auto;
}

/* Divider */
.divider {
  background-color: var(--accent1-color);
  width: 2px;
  margin: 0 auto;
  height: 100%; /* Estende la divider per tutta l'altezza del contenitore */
}



.metadata-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items at the top */
  width: 100%; /* Take the full width of the parent */
  max-width: 1200px; /* Optional: limit the maximum width */
  padding: var(--spacing-large); /* Add spacing inside */
  box-sizing: border-box; /* Ensure padding is included in the width/height */
  background-color: var(--background-color);
  border-radius: var(--spacing-large);
  border: 2px solid var(--primary-color);
  height: auto;
  margin: calc(var(--spacing-large) * var(--golden-ratio)) 0 calc(var(--spacing-large) * var(--golden-ratio)) 0;
}  


/* FINE OBJECT-PAGE*/
